html {
  scroll-behavior: smooth;
}
body {
  /* background-color: #121212; */
  background: url(./images/bgc.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  overflow-y: scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  width: 0;
}
a {
  text-decoration: none;
  color: aliceblue;
}
p {
  margin: 0;
}
h1 {
  margin: 0;
  color: aliceblue;
}
h2 {
  margin: 0;
}

/* WELCOMEPAGE */
#welcomePage {
  background: url(./images/main-screen__bgc.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 33.6vw;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 22vh;
}
header {
  height: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 5vw 0 5vw;
}
#headerLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 8vw;
  height: 5vw;
  opacity: 0.95;
}
header img {
  width: 2.2vw;
}
header a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 2.89vw;
  font-size: 0.9vw;
}
header button {
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  color: aliceblue;
  width: 9vw;
  height: 2.5vw;
  border-radius: 2vw;
  border: 0;
  font-size: 0.8vw;
}
.welcomeBanner {
  padding-left: 16vw;
  display: flex;
  flex-direction: column;
  gap: 3vw;
}
#WelcomeCards {
  display: flex;
  gap: 1.5vw;
}
.welcomeBanner h1 {
  font-size: 3.2vw;
  line-height: 4.7vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.WelcomeCard {
  background-color: #121212;
  width: 6vw;
  height: 6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.2vw;
  color: aliceblue;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.WelcomeCard h2 {
  font-size: 1.8vw;
}
.WelcomeCard p {
  font-size: 0.85vw;
  opacity: 0.7;
  margin-bottom: 0.5vw;
}

/* COURSEORDER */
#CourseOrder {
  background-color: #121212;
  color: aliceblue;
  height: 7.5vw;
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 5vw;
  font-family: Roboto;
}
#courseBut {
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  color: aliceblue;
  font-size: 0.8vw;
  letter-spacing: 0.05vw;
  width: 10vw;
  height: 2.5vw;
  border-radius: 2vw;
  border: 0;
}
.courseFlexBox {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
#info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 1.94vw;
  gap: 2vw;
}
#CourseOrder p {
  opacity: 0.5;
  font-size: 0.85vw;
  font-weight: 400;
  font-family: Roboto;
}
#CourseOrder h1 {
  font-size: 0.8vw;
}
.courseEarned {
  display: flex;
  gap: 2.2vw;
}
.courseLine {
  background-color: aliceblue;
  width: 40vw;
  height: 0.35vw;
}
#courseLineGradient {
  width: 6.4vw;
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
}

/* ACTIVITIES */
#activities {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.5vw;
  height: 50vw;
  width: 65vw;
  margin: 0 auto;
  font-family: Roboto;
}
#activitiesComputerImg {
  position: absolute;
  margin-top: 5vw;
  margin-left: 2vw;
}
#activitiesText h1 {
  font-size: 2.5vw;
  opacity: 0.95;
  font-weight: 900;
}
#activitiesText p {
  margin-top: 3.6vw;
  margin-bottom: 2vw;
  font-size: 0.95vw;
  line-height: 1.5vw;
  color: aliceblue;
  max-width: 35vw;
  font-weight: 100;
  opacity: 0.9;
}

/* START */
#start {
  height: 34vw;
  color: aliceblue;
  width: 65vw;
  margin: 0 auto;
  font-family: Roboto;
}
#start p {
  opacity: 0.5;
}
#startText {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 3vw;
}
#startTextLogo {
  display: flex;
  align-items: center;
  gap: 2vw;
}
#startCards {
  margin-top: 5vw;
  display: flex;
}
.startCardsStatus {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4vw;
  padding: 1.5vw 0 1.5vw 0;
}
.startCard h1 {
  font-size: 1.5vw;
}
.startCard p {
  font-size: 0.8vw;
  font-weight: lighter;
  max-width: 88%;
  line-height: 1.2vw;
}

/* PROFESSION */
#profession {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40vw;
  width: 65vw;
  margin: 0 auto;
  font-family: Roboto;
  /* margin-bottom: 5vw; */
}
#professionCards {
  display: flex;
  color: aliceblue;
  margin-top: 5vw;
  gap: 4vw;
}
.professionCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1.7vw;
  width: 20vw;
}
.professionCard p {
  font-size: 0.84vw;
  opacity: 0.7;
  font-weight: 100;
  line-height: 1.4vw;
}
.professionCard h1 {
  font-size: 1.3vw;
}
.professionCard img {
  width: 5vw;
  margin: 0 auto;
  margin-bottom: 2vw;
}

/* PARTNERS */
#partners {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  width: 65vw;
  margin: 0 auto;
  height: 45vw;
  font-family: Roboto;
  gap: 5vw;
}
#partnersHeading {
  display: flex;
  gap: 2vw;
  align-items: center;
  /* justify-content: center; */
}
#partnersCards {
  display: flex;
  flex-wrap: wrap;
  /* background-color: #451046; */
  height: 15vw;
  margin-bottom: 8vw;
}
.partnersCard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16.1vw;
  height: 7.45vw;
  /* border: 0.1vw solid rgba(240, 248, 255, 0.582); */
}
.partnersCard img {
  width: 8vw;
}

/* PROGRAMM */
#programm {
  height: 65vw;
  width: 65vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Roboto;
  padding-bottom: 10vw;
}
#programmHeading {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  gap: 3vw;
}
#programmHeading h1 {
  margin-top: 1vw;
  font-size: 3vw;
}
#programmHeading p {
  color: aliceblue;
  font-size: 0.85vw;
  opacity: 0.5;
  max-width: 25vw;
  text-align: center;
  margin-bottom: 6vw;
}
.programmTableFloor {
  display: flex;
  height: 6vw;
}
.programmTableFloor div {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: center;
}
.TableBox {
  width: 15vw;
  height: 6vw;
  gap: 20%;
}
.TableBox p {
  color: aliceblue;
  font-size: 0.8vw;
  opacity: 0.5;
}
.TableBox h2 {
  color: aliceblue;
  font-size: 1vw;
  font-weight: 100;
}
.tableImg1 {
  /* background-color: red; */
  width: 2vw;
}
.tableImg1 hr {
  height: 0.1vw;
  width: 100%;
  border: none;
  background-color: aliceblue;
  opacity: 0.5;
  /* border-radius: 1vw 0 0 1vw; */
}
.tableVerticalImg {
  width: 0.5vw;
  background: linear-gradient(90deg, #c89afc 9.51%, #7c6afa 90.23%);
}

/* TEACHERS */
#teachers {
  width: 65vw;
  margin: 0 auto;
  height: 40vw;
  font-family: Roboto;
}
#teachersHeading {
  display: flex;
  align-items: end;
  gap: 2vw;
  margin-bottom: 8vw;
}
#teachersHeading h1 {
  font-size: 2.4vw;
  letter-spacing: 0.2vw;
}
#teacherCards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12vw;
}
.teacherCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  gap: 1.5vw;
}
.teacherCard img {
  width: 10.5vw;
}
.teacherCard h2 {
  font-size: 1.2vw;
  margin-top: 1vw;
}
.teacherCard p {
  font-size: 0.85vw;
  opacity: 0.8;
}
.teacherCard button {
  width: 8vw;
  height: 2vw;
  border: 0.1vw solid aliceblue;
  color: aliceblue;
  background-color: #12121200;
  border-radius: 1vw;
}

/* FOOTER */
#footer {
  height: 25vw;
  width: 65vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-family: Roboto;
  gap: 2vw;
}
#footer h1 {
  font-size: 2.6vw;
}
#footer p {
  font-size: 1vw;
  opacity: 0.5;
  text-align: center;
  font-weight: 100;
}
#footerInput {
  background-color: #97979760;
  display: flex;
  height: 2.2vw;
  border-radius: 3vw;
}
#footerInput input {
  background-color: #12121200;
  width: 18vw;
  height: 2.1vw;
  border: none;
  padding: 0;
  border-radius: 1vw;
  color: aliceblue;
  font-family: Roboto;
  font-size: 1vw;
  outline: 0;
  padding-left: 1vw;
}
#footerInput input:active,
.example:hover,
.example:focus {
  outline: 0;
  outline-offset: 0;
}
#footerInput button {
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);

  width: 8.5vw;
  height: 2.2vw;
  border-radius: 3vw;
  border: 0;
  color: aliceblue;
  font-size: 0.9vw;
}
#footerLinks {
  display: flex;
  gap: 1.5vw;
  margin-bottom: 3vw;
}
#footerLinks img {
  width: 2.8vw;
}
#footerLinks p {
  position: absolute;
  margin-left: 26vw;
  opacity: 0.9;
  bottom: -299vw;
}
